// Override the global link hover effect for mini cards
a:has(.tournament-mini-card) {
  &:hover {
    color: inherit;
  }
}

.tournament-mini-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;

  border-radius: 12px;
  border: 1px solid #e0e0e0;
  background: #fff;

  header {
    display: flex;
    width: 100%;
    height: 48px;
    align-items: center;
    justify-content: left;
    font-weight: 600;

    > span {
      margin-left: 0.5rem;
      flex: 1;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .pin-button {
      background-color: var(--theme-primary);
      color: var(--theme-text);
      font-size: 0.65rem;

      &.is-pinned {
        background-color: var(--theme-secondary);
        color: var(--theme-textInverted);
      }

      .icon {
        margin: 0;
      }
    }
  }

  .name {
    display: flex;
    justify-content: left;
    width: 100%;
    margin: 1rem 0;
    font-weight: 600;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    color: var(--theme-primary);
  }
}
