@charset "utf-8";

$pink: #fa7c91;
$brown: #757763;
$beige-light: #dbdbdb;
$beige-lighter: #eff0eb;
$dark: #1e1200;
$dark-light: #343434;
$orange-light: #e3c4a8;
$white-dark: #eeeeee;
$red-dark: #750608;
$red-light: #e91919;
$green-light: #3d7068;

// New colors
$black: #1d1d1b;
$green: #a6cd63;
$red: #a72608;
$purple: #7b4b94;
$white: #f8f4f9;
