@charset "utf-8";

$purple: #8a4d76;
$pink: #fa7c91;
$brown: #757763;
$beige-light: #d0d1cd;
$beige-lighter: #eff0eb;
$dark: #1e1200;
$dark-light: #343434;
$orange-light: #e3c4a8;
$white: #fdfdff;
$white-dark: #eeeeee;
$red: #970c10;
$red-light: rgb(160, 24, 29);
$green: #2b5615;