.team-with-logo {
  display: flex;

  .logo {
    margin-right: 0.5rem;
    height: 24px;
    width: 24px;
  }
}

.elimination-info {
  padding-bottom: 1rem;
}

.group:not(:first-child) {
  padding-top: 1.25rem;
}

@media screen and (min-width: 1215px) {
  .group {
    max-width: 696px;
  }
}
