@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Fira+Sans');

// Set your brand colors
$purple: #8A4D76;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;
$dark: #181810;
$dark-light: #343434;

// Update Bulma's global variables
$family-sans-serif: 'Fira Sans', sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $purple;
$link: $pink;
$widescreen-enabled: true;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $dark;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

// Custom values
$title-color: #f3f3f3;
$subtitle-color: #e3c4a8;
$text: #f6f5f5;

// Custom table values
$table-background-color: transparent;
$table-color: $text;
$table-head-cell-color: $title-color;
$table-row-hover-background-color: $dark-light;


// Custom card values
$card-background-color: $dark-light;
$card-shadow: 0 2px 3px rgba($beige-light, 0.1), 0 0 0 1px rgba($beige-light, 0.1);

// Import only what you need from Bulma
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/form.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/elements/table.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/components/card.sass";
@import "../node_modules/bulma/sass/components/dropdown.sass";
@import "../node_modules/bulma/sass/components/level.sass";
@import "../node_modules/bulma/sass/layout/hero.sass";
@import "../node_modules/bulma/sass/layout/section.sass";
@import "../node_modules/bulma/sass/grid/columns.sass"